<!doctype html>
<html>
  <head>
    <title>Page not found | BeerBase</title>
    
    <meta charset="utf-8">
    <meta name="description" content="List all beers all around the world">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link rel="icon" href="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3ctext y='.9em' font-size='90'%3e🍺%3c/text%3e%3c/svg%3e">
  </head>
  <body>
    <a href="/">
      <h1>BeerBase</h1>
      <p>Ooops. There doesn't seem to be anything here. Maybe you took a wrong turn or maybe we broke something.<br><br>Either way, click or tap anywhere and we'll take you back to the home page to sort this mess out.</p>
    </a>
  </body>
</html>
