// Colors
$doe-blue: #db8116;
$doe-black: #222;

$white: #fff;

$osm-green: #7ebc6f;

// Base
$base-font-size: 18;
$border-radius: 5px;
$color: $doe-blue;
$color-accent: #db81160b;
$color-bg: #fff;
$color-bg-secondary: #e9e9e9;
$color-secondary: $doe-blue;
$color-text: $doe-black;
$hover-brightness: 1.2;
$line-height: 150%;
$width-card-wide: 800px;
$width-content: 850px;

// Overlay
$overlay-background: rgba(26, 42, 58, 0.94);
